<!-- app/views/project_assignment_mailer/project_assigned_email.html.erb -->

<p>Hello <%= @user.name %>,</p>

<p>You have been assigned to a new project: <%= @project.p_Name %>.</p>

<p>Thank you for your participation!</p>
