<!-- app/views/joins/destroy.html.erb -->

<h1>Remove User from Project</h1>
<p>Are you sure you want to remove <%= @user.name %> from <%= @project.p_Name %>?</p>

<%= link_to 'Cancel', project_path(@project) %>
<%= link_to 'Remove User', join_path(@user.joins.find_by(project_id: @project.id)), method: :delete %>
